<div class="row row1">
  <div class="col-12 bi1">
  
    <br><br><br><br><br><br><br><br><br><br>
    <h1>SHAPE YOUR<br> PERFECT BODY</h1><br>
    <div class="button-row">
      <a routerLink="/login"><button>
          Register your institute under FitnessLanka
      </button></a>
    </div>      
  </div>
</div><!--row end-->

<mat-grid-list cols="3" rowHeight="1.9:2.3">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header class="mat-card-header">
        <h2>Gyms</h2>
      </mat-card-header>
      <img mat-card-image src="assets/ci1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <!--<mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>-->
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header class="mat-card-header">
        <h2>Sports Clubs</h2>
      </mat-card-header>
      <img mat-card-image src="assets/ci2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header class="mat-card-header">
        <h2>Swimming Pools</h2>
      </mat-card-header>
      <img mat-card-image src="assets/ci3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header class="mat-card-header">
      <h2>Dancing</h2>
    </mat-card-header>
    <img mat-card-image src="assets/ci4.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header class="mat-card-header">
      <h2>Yoga</h2>
    </mat-card-header>
    <img mat-card-image src="assets/ci5.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header class="mat-card-header">
      <h2>Martial Arts</h2>
    </mat-card-header>
    <img mat-card-image src="assets/ci6.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    
  </mat-card></mat-grid-tile>
</mat-grid-list>

<div class="row row3">
  <div class="col-12 bi2">
    <div class="content">
      <div class="header">
        <h1>WHY CHOOOSE US </h1>
      </div><!--header 1 end-->
      <div class="para1">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
          Iusto, quod. Unde consequatur dolor error vitae quibusdam voluptas quas quis, <br>
          voluptate itaque minus, ipsum eos tempora quia pariatur eius sequi ullam.</p>
      </div><!--paragraph 1 end-->
    </div><!--content end-->
  </div>
</div><!--row end-->

<div class="row row4">
  <h1>OUR CONTRIBUTORS</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eos sequi perspiciatis sit aut voluptatibus, quos rem in aliquid culpa qui minima a praesentium non. Molestiae fuga placeat itaque exercitationem?</p>
  <div class="col-12 contributors">
    
  </div>
</div>




