<mat-toolbar color="primary" class="mat-tb-1">
  <h1>FitnessLanka</h1>
  <div class="nav-bar">
    <button mat-button routerLink="/components/home">Home</button>
    <button mat-button routerLink="/components/fitness-institutes">Fitness Institutes</button>
    <button mat-button routerLink="/components/articles">Articles</button>
    <button mat-button routerLink="">Nutrition</button>
    <button mat-button routerLink="">Forum</button>
    <button mat-button routerLink="components/contact">Contact Us</button>
  </div><!--navbar ends-->
  <div class="login-join">
    <a routerLink="/login"> <button>Login</button></a>&nbsp;&nbsp;
    <a routerLink="/sign-up"> <button>Join Us</button></a>
  </div><!--join n login for users-->
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footercol">
      <h4>Latest Tweets</h4>
      <div class="tweet">
        <p>
          <a href="">@namehere</a>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex numquam magnam dolorum cumque tempora libero laudantium, minus accusamus eum ipsum pariatur quia assumenda dolor architecto, praesentium fuga dolores possimus corporis?
        </p>	
      </div>	<!--tweet-->

      <div class="tweet">
        <p>
          <a href="">@namehere</a>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dicta magnam iure illum provident quas aliquid. Vel impedit culpa vero aspernatur corrupti quam ducimus, vitae dolor officiis aut eligendi quasi?
      </div><!--tweet-->	
  </div><!--footercol--> 
  
  <div class="footercol">
      <h4>Quick Links</h4>
      <ul class="quicklinks">
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is a link</a></li>
      </ul>
  </div><!--footercol--> 
  
  <div class="footercol">
      <h4>Latest Blog Posts</h4>
      <div class="blogpost">
        <h5>Post Title</h5>
        <div class="postinfo">
                <a href="">Admin</a>
                domainname.com<br>
                Sunday ,29th May 216
        </div><!--postinfo-->
        <p>If u have any problem regurding our web site please be kind to contact us .</p>
        <a href="" class="readmore">Read more &raquo;</a>
      </div><!--blogpost-->

      <div class="blogpost">
        <h5>Post Title</h5>
        <div class="postinfo">
                <a href="">Admin</a>
                domainname.com<br>
                Sunday ,29th May 216
        </div><!--postinfo-->
        <p>If u have any problem regurding our web site please be kind to contact us .</p>
        <a href="" class="readmore">Read more &raquo;</a>
      </div><!--blogpost-->
  </div><!--footercol--> 
  
  <div class="footercol">
      <h4>Contact Us</h4>
      <form action="index.html" class="contact">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="Subject" placeholder="Subject">
        <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
        <button>Submit</button>
      </form>  
  </div><!--footercol-->  
</footer> 

<div class="copyright">
<div class="left">
  Copyright &copy; Domain Name.All Rights Reserved
</div>
<div class="right">
  Website by:fitnesslanka.lk
</div>

</div><!--copyright-->

